flask
flask-httpauth
gunicorn
git+https://github.com/dominictassio/profanity-filter.git#profanity-filter
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz